@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: black;
    box-sizing: border-box;
    position: relative;
    background-attachment: fixed;
    background-image: url("../images/img-QoN23lUZfEWQ8aPlVBuJ4.jpeg");
    background-size: min(200%, 200%);
    height: 100vh;
    margin: 0;
    overflow: auto;
}

button {
    touch-action: manipulation;
}
